<!DOCTYPE html>
<!--[if lte IE 7]> <html class="no-js oldie ie7" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<%= render "/shared/head" %>
	<body>

		<div id="wrapper">
			<%= render "/shared/header" %>

			<div id="content" class="cf clear">
				<% [:notice, :error, :alert].each do |level| %>
					<% unless flash[level].blank? %>
						<div class="<%= level %>">
							<%= content_tag :p, flash[level] %>
						</div>
					<% end %>
				<% end %>
				<% flash.discard %>
				<%= yield %>
			</div><!-- #content -->
		</div><!-- #wrapper -->

		<%= render "/shared/footer" %>
		<%= render "/shared/scripts" %>
	</body>
</html>
