<!DOCTYPE html>
<html class="no-js <%= @page_name %>" lang="en">

  <%= render "/shared/head" %>

  <!--[if lte IE 7 ]> <body class="ie8 ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie8"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
    <div id="wrapper">
      <%= render "/shared/header" %>

      <div id="content" class="cf">
        <%= yield %>
      </div><!-- #content -->
    </div><!-- #wrapper -->
    
    <%= render "/shared/footer" %>
  
    <%= render "/shared/scripts" %>
  </body>
</html>