!!! 5
%html.no-js{:lang => "en", :class => @current_user}

  = render :partial => "shared/head"

  <!--[if lte IE 7 ]> <body class="ie8 ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie8"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
  #wrapper
    =  render :partial => "shared/header"

    #content.cf
      = yield
    
  = render :partial => "shared/footer"
  
  =  render :partial => "shared/scripts"
  </body>